
* {
  /* font-family: Roboto,system-ui,sans-serif !important; */
  /* font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important; */
}

a {
  color: black;
}

hr {
  color: lightgrey;
  padding: .125em;
  border-radius: .5em;
}

.reincard{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.reincard:hover{
  background: white !important;
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}

#reinnav a {
  transition: .125s color cubic-bezier(.155,1.105,.295,1.12);
}

#reinnav a:hover {
  /* text-decoration: underline !important; */
  /* transform: scale(1.53) !important; */
  /* border-bottom: 3px solid lightgrey; */
  color: rgb(242, 203, 5) !important;
}

/*
Ensures that nav does not overlap the gitter chat
*/
.gitter-chat-embed {
  z-index: 999999;
}


@media (min-width: 1400px) {
  .rein_main_container {
    width: 55%;
  }
}

@media (min-width: 974px) {
  .rein_main_container {
    width: 100%;
    min-height: 100vh;
  }
}

@media (min-width: 1200px) {
  .rein_main_container {
    width: 100%;
  }
}
