
* {
  /* font-family: Roboto,system-ui,sans-serif !important; */
  /* font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important; */
  color: #424753;
}

a {
  color: black;
}

hr {
  color: lightgrey;
  padding: .125em;
  border-radius: .5em;
}

.reincard{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.reincard:hover{
  background: white !important;
  transform: scale(1.05);
  /* box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
  cursor: pointer;
}

#reinnav a {
  transition: .125s color cubic-bezier(.155,1.105,.295,1.12);
}

#reinnav a:hover {
  /* text-decoration: underline !important; */
  /* transform: scale(1.53) !important; */
  /* border-bottom: 3px solid lightgrey; */
  color: rgb(242, 203, 5) !important;
}

/*
Ensures that nav does not overlap the gitter chat
*/
.gitter-chat-embed {
  z-index: 999999;
}

body {
  background: #F0F2F5;
}

#markdown_container {
  /* font-size: .5em !important; */
}

#markdown_container h1 {
  font-size: 1.5em;
}

#markdown_container h2 {
  font-size: 1.35em;
}

@media (min-width: 974px) {
  .rein_main_container {
    min-height: 100vh;
    padding: 7.5em;
  }
}


@media (min-width: 1600px) {
  .rein_main_container {
    min-height: 100vh;
    padding: 10em;
  }

  #reinheritHero .reincard h2 {
    font-size: 2rem;
  }

  #reinheritHero .reincard p {
    font-size: 1.8rem;
  }

}

path {
  fill: rgb(72, 72, 72) !important;
}

.imgFeed {
  height: auto;
  max-width: 75%;
}

.Thumbnail {
  max-width: 90%;
  max-height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgCarousel {
  max-height: 60vh;
  width: auto;
}

.blog-post-content img {
  height: auto;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:focus {
background: lightgrey;
color: black; 
}

.btnExhibit:hover {
  background-color: blue !important;
}

.btnExhibit {
  background-color: white;
  color: black;
  border-color: black;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.navExhib {
  margin-bottom: 5vh;
  background-color: yellow;
}

.badgeIdentities {
  margin: 7vh;
  width: 100%;
  background-color: white !important;
  border: 3px solid;
  border-color: blue !important;
  text-align: center;
  color: blue;
}

.badgeIdentities h1 {
  color:blue;
}

.identities h4 {
  font-family: "Roboto Regular";
  color: blue;
}

.identities h1 {
  font-family: "Roboto Mono";
  font: "Light";
}

.navExhibIdentities {
  margin-bottom: 5vh;
  background-color: blue;
  color: white;
}

/*exhibition objects page */
.exhibObject-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill);
  gap: 1rem;
}

.exhibObject {
  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.exhibObject:hover {
--translate-y: -2px;
}

.exhibObject.flipOne {
  --rotate-y: 180deg;
}

.exhibObject.flipTwo {
  --rotate-y: 180deg;
}

.exhibObject.flipThree {
  --rotate-y: 180deg;
}

.front {
  left: 0;
}

.front, .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  padding: 1rem;
} 

.back p {
  text-align: center;
  font-family: 'Roboto Mono';
  max-width: 40vw;
}