
* {
  /* font-family: Roboto,system-ui,sans-serif !important; */
  /* font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important; */
  color: #424753;
}

a {
  color: black;
}

hr {
  color: lightgrey;
  padding: .125em;
  border-radius: .5em;
}

.reincard{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.reincard:hover{
  background: white !important;
  transform: scale(1.05);
  /* box-shadow: 0 5px 10px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
  cursor: pointer;
}

#reinnav a {
  transition: .125s color cubic-bezier(.155,1.105,.295,1.12);
}

#reinnav a:hover {
  /* text-decoration: underline !important; */
  /* transform: scale(1.53) !important; */
  /* border-bottom: 3px solid lightgrey; */
  color: rgb(242, 203, 5) !important;
}

/*
Ensures that nav does not overlap the gitter chat
*/
.gitter-chat-embed {
  z-index: 999999;
}

body {
  background: #F0F2F5;
}

#markdown_container {
  /* font-size: .5em !important; */
}

#markdown_container h1 {
  font-size: 1.5em;
}

#markdown_container h2 {
  font-size: 1.35em;
}

@media (min-width: 974px) {
  .rein_main_container {
    min-height: 100vh;
    padding: 7.5em;
  }
}


@media (min-width: 1600px) {
  .rein_main_container {
    min-height: 100vh;
    padding: 10em;
  }

  #reinheritHero .reincard h2 {
    font-size: 2rem;
  }

  #reinheritHero .reincard p {
    font-size: 1.8rem;
  }

}

path {
  fill: rgb(72, 72, 72) !important;
}

.imgFeed {
  height: auto;
  max-width: 75%;
}

.imgCarousel {
  max-height: 60vh;
  width: auto;
}