@font-face {
  font-family: "RobotoMono-Light";
  src: url("/fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
}

* {
  color: #000;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/* Navbar */
.navExhib {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.navExhib.navExh_yellow .exh_navBar_container {
  background-color: yellow;
}
.navExhib.navExh_yellow .exh_navBar_container .exh_line {
  background-color: black;
}
@media screen and (max-width: 767.98px) {
  .navExhib.navExh_yellow .exh_navBar_container .exh_line {
    display: none;
  }
}
.navExhib.navExh_yellow .hamburger {
  background-color: #000;
}
.navExhib.navExh_blue .exh_navBar_container {
  background-color: blue;
}
.navExhib.navExh_blue .exh_navBar_container a {
  color: #fff;
}
.navExhib.navExh_blue .exh_navBar_container .exh_line {
  background-color: #fff;
}
@media screen and (max-width: 767.98px) {
  .navExhib.navExh_blue .exh_navBar_container .exh_line {
    display: none;
  }
}
.navExhib.navExh_blue .hamburger {
  background-color: #fff;
}
.navExhib .exh_navBar_container {
  margin-left: 15px;
  margin-right: 15px;
  margin: 30px 15px;
}
@media screen and (max-width: 767.98px) {
  .navExhib .exh_navBar_container {
    margin: 10px 15px;
  }
}
.navExhib .exh_navBar_container .nav_font {
  font-family: RobotoMono-Light;
}
@media screen and (max-width: 543.98px) {
  .navExhib .exh_navBar_container .nav_font {
    display: block !important;
  }
}
.navExhib .exh_navBar_container .exh_line {
  width: 50px;
  height: 2px;
  opacity: 1;
  margin: auto 0;
}
.navExhib .header-burger {
  justify-self: end;
  cursor: pointer;
  padding-top: 7px;
  z-index: 0;
  position: absolute;
  right: 45px;
}
@media screen and (max-width: 543.98px) {
  .navExhib .header-burger {
    right: 35px;
  }
}
.navExhib .header-burger .hamburger {
  width: 30px;
  height: 2px;
  opacity: 1;
  margin-bottom: 6px;
}
.navExhib .navbar-toggler {
  border: none;
  color: black;
  position: absolute;
  right: 20px;
  z-index: 1;
}
@media screen and (max-width: 543.98px) {
  .navExhib .navbar-toggler {
    right: 10px;
  }
}
.navExhib .navbar-toggler .btn-close svg {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(106%) contrast(105%);
}
.navExhib .navbar-toggler .navbar-toggler-icon {
  background-image: none;
}
.navExhib .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
.navExhib .navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.navExhib .navbar-toggler:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}
.navExhib .exhibition_navbar {
  width: 100%;
}
@media screen and (max-width: 543.98px) {
  .navExhib .exhibition_navbar {
    margin: 0;
  }
}

.exhibition_burger_container {
  background-color: #000;
  width: 100%;
  max-width: 730px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  align-items: normal;
  padding: 40px;
}

.exhibition_burger {
  position: absolute;
  right: 40px;
  top: 40px;
}
.exhibition_burger .btn-close {
  color: #ffffff;
  float: right;
  background: url("/images/exhibition_assets/x-icon.svg");
  opacity: 1;
}
@media screen and (max-width: 767.98px) {
  .exhibition_burger .btn-close {
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right;
  }
}
.exhibition_burger .btn-close:active, .exhibition_burger .btn-close:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.exhibition_navbar_inner {
  padding: 10px 20px;
  display: inline-flex;
  width: 100%;
  gap: 50px;
}
@media screen and (max-width: 1279.98px) {
  .exhibition_navbar_inner {
    gap: 15px;
  }
}
@media screen and (max-width: 543.98px) {
  .exhibition_navbar_inner {
    padding: 10px;
  }
}

.exhibition_burger_inner .navbar-nav {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  height: 100vh;
}
.exhibition_burger_inner .exh_space {
  margin-top: 20px;
}
.exhibition_burger_inner a {
  font-size: 32px;
  font-family: RobotoMono-Light;
}
@media screen and (max-width: 1279.98px) {
  .exhibition_burger_inner a {
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .exhibition_burger_inner a {
    font-size: 18px;
  }
}
.exhibition_burger_inner p {
  font-size: 32px;
  color: #fff;
  font-family: RobotoMono-Light;
  margin: 0;
}
@media screen and (max-width: 1279.98px) {
  .exhibition_burger_inner p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .exhibition_burger_inner p {
    font-size: 18px;
  }
}

.exhibition_menu_link {
  text-decoration: none;
  font-size: 25px;
}
@media screen and (max-width: 1279.98px) {
  .exhibition_menu_link {
    font-size: 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .exhibition_menu_link {
    font-size: 18px;
  }
}
@media screen and (max-width: 767.98px) {
  .exhibition_menu_link {
    font-size: 14px;
  }
}
@media screen and (max-width: 543.98px) {
  .exhibition_menu_link {
    display: none;
  }
}
.exhibition_menu_link:hover {
  color: black;
}

/* Exhibition: Conflicts - i.e. blue */
.badgeConflicts {
  width: 100%;
  background-color: white !important;
  border: 1px solid;
  border-color: blue !important;
  text-align: center;
  color: blue;
}

.conflicts h4 {
  font-family: Roboto-Regular;
}

.navExhibConflicts {
  margin-bottom: 5vh;
  background-color: blue;
  color: white;
}

/* Footer */
.exh_img {
  width: auto;
  max-height: 50px;
  margin-right: 10px;
}

.exh_footer_links {
  margin-top: 20px;
}
.exh_footer_links a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 13px;
}
.exh_footer_links a:hover {
  color: blue !important;
}

.exh_footer_grid {
  display: inline-flex;
  font-size: 13px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 543.98px) {
  .exh_footer_grid {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1279.98px) {
  .exh_footer_grid .footer_img {
    width: 55%;
    text-align: center;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_footer_grid .footer_img {
    width: 100%;
  }
}
@media screen and (max-width: 1279.98px) {
  .exh_footer_grid .footer_partner_text {
    margin: auto 0;
    width: 75%;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_footer_grid .footer_partner_text {
    width: 100%;
  }
}

.exh_footer_grid p {
  margin: auto;
}

.exh_footer {
  height: 100%;
}

/* exhibition objects page: card flip setup */
.exh_container_border {
  border: 1px solid blue;
  border-bottom: 1px solid blue;
  border-top: none;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  padding-bottom: 100px;
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.exh_container_border .exhibObject-grid {
  padding: 0 65px;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .exhibObject-grid {
    padding: 0 15px;
  }
}
.exh_container_border .exhibObject-grid .exh_bullet_btn {
  width: max-content;
  padding: 10px 30px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  font-family: RobotoMono-Light;
  transition: 0.3s;
  border-radius: 50px;
  margin: 20px;
  min-width: 300px;
  position: relative;
  text-align: center;
  left: 20%;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .exhibObject-grid .exh_bullet_btn {
    left: 0;
    margin-left: 0;
    min-width: unset;
    width: 100%;
  }
}
.exh_container_border .exhibObject-grid .exh_bullet_btn:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid blue;
  border-right: 12px solid transparent;
  border-top: 12px solid blue;
  border-bottom: 15px solid transparent;
  left: 40px;
  bottom: -17px;
}
.exh_container_border .exhibObject-grid .exh_bullet_btn:hover {
  opacity: 0.7;
}
.exh_container_border .exhibObject-grid .exhibObject {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  padding: 0;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .exhibObject-grid .exhibObject {
    width: 100% !important;
    height: auto !important;
    left: 0 !important;
  }
}
.exh_container_border .exhibObject-grid .exhibObject.exhibThird {
  margin-left: auto;
  margin-right: 0;
}
.exh_container_border .exhibObject-grid .exhibObject h3 {
  font-family: Roboto-Regular;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 30px;
}
.exh_container_border .exhibObject-grid .exhibObject p {
  font-family: Roboto-Regular;
  font-size: 25px;
  line-height: 1.3em;
  margin-bottom: 100px;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .exhibObject-grid .exhibObject p {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
.exh_container_border .exhibObject-grid .exhibObject .back {
  border: 1px solid;
  padding: 20px;
  width: 100%;
  position: absolute;
  height: fit-content;
  z-index: 5;
  background-color: white;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}
.exh_container_border .exhibObject-grid .exhibObject:hover .back {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.exh_container_border .exhibObject-grid .exhibObject .desc_bottom {
  text-align: right;
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .exhibObject-grid .exhibObject .desc_bottom {
    text-align: left;
  }
}
.exh_container_border .exhibObject-grid .exhibObject .desc_bottom .arrow_detail {
  transform: rotate(-45deg);
  width: 50px;
  margin-right: 10px;
  margin-bottom: 120px;
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .exhibObject-grid .exhibObject .desc_bottom .arrow_detail {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.exh_container_border .exhibObject-grid .exhibObject .desc_bottom .exh_see_more {
  background-color: blue;
  border: 1px solid blue;
  color: white;
  border: 1px solid;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  width: 200px;
  letter-spacing: 0.5px;
  font-family: RobotoMono-Light;
  font-size: 18px;
  bottom: 10px;
  right: 15px;
  transition: 0.3s;
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .exhibObject-grid .exhibObject .desc_bottom .exh_see_more {
    width: 100%;
  }
}
.exh_container_border .exhibObject-grid .exhibObject .desc_bottom .exh_see_more:active, .exh_container_border .exhibObject-grid .exhibObject .desc_bottom .exh_see_more:focus {
  outline: none;
  box-shadow: none;
}
.exh_container_border .exhibObject-grid .exhibObject .desc_bottom .exh_see_more:hover {
  background-color: white;
  color: blue;
  transition: 0.3s;
}
.exh_container_border .conflicts {
  padding: 50px;
}
@media screen and (max-width: 991.98px) {
  .exh_container_border .conflicts {
    padding: 15px;
  }
}
.exh_container_border .conflicts .exh_m_btm {
  margin-bottom: 30px;
}
@media screen and (max-width: 991.98px) {
  .exh_container_border .conflicts h4 {
    font-size: 20px;
  }
}
.exh_container_border .conflicts .exh_object_btm {
  margin-top: 100px;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .conflicts .exh_object_btm img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.exh_container_border .conflicts .exh_sketchfab_iframe {
  max-width: 1300px;
  margin: auto;
}
.exh_container_border .conflicts .exh_h5p_2dviewer {
  max-width: 800px;
  margin: auto;
}
.exh_container_border .conflicts .exh_h5p_iframe {
  height: 100%;
  margin-top: 30px;
  text-align: center;
  max-width: 1300px;
  margin: auto;
}
.exh_container_border .conflicts .exh_h5p_iframe.iframe_border iframe body {
  margin: 0 !important;
}
@media screen and (max-width: 1279.98px) {
  .exh_container_border .conflicts .exh_h5p_iframe iframe {
    width: -webkit-fill-available !important;
    height: 700px;
  }
}
@media screen and (max-width: 991.98px) {
  .exh_container_border .conflicts .exh_h5p_iframe iframe {
    height: 600px;
  }
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .conflicts .exh_h5p_iframe iframe {
    height: 500px;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .conflicts .exh_h5p_iframe iframe {
    height: 400px;
  }
}
.exh_container_border .conflicts .sketchfab-embed-wrapper {
  text-align: center;
}
.exh_container_border .conflicts .sketchfab-embed-wrapper iframe {
  max-width: 100%;
  width: 100%;
  height: 800px;
}
@media screen and (max-width: 767.98px) {
  .exh_container_border .conflicts .sketchfab-embed-wrapper iframe {
    height: 600px;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .conflicts .sketchfab-embed-wrapper iframe {
    height: 500px;
  }
}
.exh_container_border .conflicts .exh_bullet_btn {
  width: max-content;
  padding: 10px 30px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  font-family: RobotoMono-Light;
  transition: 0.3s;
  border-radius: 50px;
  margin: 20px;
  position: relative;
}
@media screen and (max-width: 543.98px) {
  .exh_container_border .conflicts .exh_bullet_btn {
    margin: 20px 0;
    font-size: 13px;
  }
}
.exh_container_border .conflicts .exh_bullet_btn:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid blue;
  border-right: 12px solid transparent;
  border-top: 12px solid blue;
  border-bottom: 15px solid transparent;
  left: 40px;
  bottom: -17px;
}
.exh_container_border .conflicts .exh_bullet_btn:hover {
  background-color: white;
  color: blue;
  transition: 0.3s;
}

/* Content */
.exh_container_inner.exh_content_text {
  font-size: 18px;
  font-family: Roboto-Regular;
}
.exh_container_inner.exh_content_text .exhcontentHeading {
  font-family: "RobotoMono-Light";
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin: 0px 0px;
}
.exh_container_inner.exh_content_text p {
  line-height: 1.3em;
  margin: 10px 0 15px;
}
.exh_container_inner #objectsConflicts {
  margin-bottom: 50px;
}
.exh_container_inner .exh_submit_button {
  margin-top: 50px;
  text-align: center;
}
.exh_container_inner .exh_submit_button .exh_arrow_container {
  width: 40%;
}
.exh_container_inner .exh_blue_arrow {
  width: auto;
  height: auto;
  transform: rotate(-45deg);
  max-width: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.exh_container_inner .exh_submit_btn {
  font-family: RobotoMono-Light;
  color: #fff;
  background-color: blue;
  margin: 0;
  padding: 10px 0;
  font-size: 2.3rem;
  width: 60%;
  border: 1px solid;
  border-color: blue !important;
  text-align: center;
  border-radius: 50px;
}
.exh_container_inner .exh_submit_btn:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767.98px) {
  .exh_container_inner .exh_submit_btn {
    width: 100% !important;
  }
}
.exh_container_inner .exh_submit_btn h1 {
  margin: 0;
}
@media screen and (max-width: 1279.98px) {
  .exh_container_inner .exh_submit_btn h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_container_inner .exh_submit_btn h1 {
    margin: 0 !important;
  }
}

.exh_map_container .exh_map_btn {
  color: blue;
  font-family: RobotoMono-Light;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid blue;
  margin: 20px 0;
  border-radius: 50px;
  font-size: 25px;
  width: 100%;
  transition: 0.3s;
}
@media screen and (max-width: 991.98px) {
  .exh_map_container .exh_map_btn {
    font-size: 18px;
    margin: 10px 0 0;
  }
}
@media screen and (max-width: 767.98px) {
  .exh_map_container .exh_map_btn {
    font-size: 16px;
  }
}
.exh_map_container .exh_map_btn:hover {
  opacity: 0.4;
}
.exh_map_container .exh_map_btn.active {
  color: #fff;
  background-color: blue;
  transition: 0.3s;
}
.exh_map_container .exh_map_btn:focus, .exh_map_container .exh_map_btn:active {
  outline: none;
  box-shadow: none;
}

.exh_main_content {
  max-width: 1920px;
  margin: 150px auto;
  padding: 0 15px;
  color: #000 !important;
}
@media screen and (max-width: 767.98px) {
  .exh_main_content {
    margin: 110px auto;
  }
}
.exh_main_content .conflictsAnswers {
  margin-top: 100px;
  padding: 0 30px;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .exh_main_content .conflictsAnswers {
    padding: 0 15px;
  }
}
.exh_main_content .conflictsAnswers h1 {
  font-family: RobotoMono-Light;
  font-size: 2.3rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 543.98px) {
  .exh_main_content .conflictsAnswers h1 {
    margin: 25px 0 !important;
  }
}
.exh_main_content .conflictsAnswers h2 {
  font-family: RobotoMono-Light;
  font-size: 2.3rem;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers h2 {
    font-size: 20px;
  }
}
.exh_main_content .conflictsAnswers .exh_submit_button {
  margin-top: 50px;
  text-align: center;
}
.exh_main_content .conflictsAnswers .exh_submit_button .exh_arrow_container {
  width: 40%;
}
.exh_main_content .conflictsAnswers .exh_submit_btn {
  font-family: RobotoMono-Light;
  color: #fff;
  background-color: blue;
  margin: 0;
  padding: 10px;
  font-size: 2.3rem;
  width: 60%;
  border: 1px solid;
  border-color: blue !important;
  text-align: center;
  border-radius: 50px;
}
.exh_main_content .conflictsAnswers .exh_submit_btn:hover {
  opacity: 0.7;
}
.exh_main_content .conflictsAnswers .exh_submit_btn:active {
  outline: none;
  box-shadow: none;
}
.exh_main_content .conflictsAnswers .exh_submit_btn:focus {
  outline: none;
  box-shadow: none;
}
.exh_main_content .conflictsAnswers .exh_submit_btn h1 {
  margin: 0;
}
@media screen and (max-width: 543.98px) {
  .exh_main_content .conflictsAnswers .exh_submit_btn h1 {
    margin: 0 !important;
  }
}
.exh_main_content .conflictsAnswers .form-check {
  max-width: 60%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check {
    max-width: 100%;
  }
}
.exh_main_content .conflictsAnswers .form-check label {
  position: relative;
}
.exh_main_content .conflictsAnswers .form-check input[type=radio] {
  display: none;
}
.exh_main_content .conflictsAnswers .form-check label::before {
  content: "";
  display: inline-block;
  background-image: url(/images/exhibition_assets/exh_box_black.svg);
  background-size: contain;
  width: 70px;
  height: 70px;
  position: absolute;
  left: -70px;
  top: 0;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check label::before {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
  }
}
.exh_main_content .conflictsAnswers .form-check input[type=radio]:checked + label::after {
  content: "";
  display: inline-block;
  background-image: url(/images/exhibition_assets/exh_box_blue.svg);
  background-size: contain;
  width: 70px;
  height: 70px;
  position: absolute;
  left: -70px;
  top: 0;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check input[type=radio]:checked + label::after {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
  }
}
.exh_main_content .conflictsAnswers .form-check label {
  border: 1px solid;
  padding: 18px;
  margin: 0 0 40px;
  font-size: 1.2rem;
  font-family: "Roboto-Regular";
}
@media screen and (max-width: 543.98px) {
  .exh_main_content .conflictsAnswers .form-check label {
    font-size: 16px;
  }
}
.exh_main_content .conflictsAnswers .form-check:nth-child(1) {
  margin-left: 10%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check:nth-child(1) {
    margin-left: 0;
  }
}
.exh_main_content .conflictsAnswers .form-check:nth-child(2) {
  margin-left: 20%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check:nth-child(2) {
    margin-left: 0;
  }
}
.exh_main_content .conflictsAnswers .form-check:nth-child(3) {
  margin-left: 30%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check:nth-child(3) {
    margin-left: 0;
  }
}
.exh_main_content .conflictsAnswers .form-check:nth-child(4) {
  margin-left: 20%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check:nth-child(4) {
    margin-left: 0;
  }
}
.exh_main_content .conflictsAnswers .form-check:nth-child(5) {
  margin-left: 10%;
}
@media screen and (max-width: 1279.98px) {
  .exh_main_content .conflictsAnswers .form-check:nth-child(5) {
    margin-left: 0;
  }
}
.exh_main_content .conflictsAnswers .exh_blue_arrow {
  width: auto;
  height: auto;
  transform: rotate(-45deg);
  max-width: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.badgeConflicts h1 {
  font-family: RobotoMono-Light;
  color: blue;
  margin: 0;
  padding: 15px 0;
  font-size: 2.3rem;
}
@media screen and (max-width: 1279.98px) {
  .badgeConflicts h1 {
    font-size: 23px;
  }
}
@media screen and (max-width: 543.98px) {
  .badgeConflicts h1 {
    white-space: normal;
  }
}
.badgeConflicts.badgeConflictInner {
  margin: 50px 50px 0;
  width: -webkit-fill-available;
}
@media screen and (max-width: 767.98px) {
  .badgeConflicts.badgeConflictInner {
    margin: 50px 0 0;
  }
}
@media screen and (max-width: 767.98px) {
  .badgeConflicts.badgeConflictInner h1 {
    font-size: 18px;
  }
}

.exh_question_intro_text {
  padding: 3rem 0 0;
  color: blue;
  text-align: center;
}
.exh_question_intro_text .exh_country_selection {
  padding: 3rem 0 0;
}
.exh_question_intro_text .exh_country_selection select {
  padding: 10px;
  border: 1px solid;
  width: -webkit-fill-available;
}
.exh_question_intro_text .exh_country_selection h3 {
  font-family: "Roboto-Regular";
  font-size: 25px;
}
@media screen and (max-width: 1279.98px) {
  .exh_question_intro_text .exh_country_selection h3 {
    font-size: 18px;
  }
}
.exh_question_intro_text h4 {
  font-family: "Roboto-Regular";
  font-size: 25px;
}
@media screen and (max-width: 767.98px) {
  .exh_question_intro_text h4 {
    font-size: 18px;
  }
}
.exh_question_intro_text p {
  font-family: "Roboto-Regular";
  font-size: 13px;
}

.exhibition_intro {
  min-height: calc(100vh - 12rem);
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-top: 64px;
}
.exhibition_intro a:focus {
  outline: none;
  box-shadow: none;
}

.btnExhibit:hover {
  background-color: blue !important;
}
.btnExhibit:focus {
  color: #fff;
}
.btnExhibit.btnExhibitDisabled:hover {
  opacity: 0.6;
  cursor: not-allowed;
}
.btnExhibit.btnExhibitDisabled:focus {
  outline: none;
  box-shadow: none;
}

.btnExhibit {
  background-color: white;
  color: black;
  border-color: black;
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 600px;
  padding: 20px;
  font-family: RobotoMono-Light;
  font-size: 30px;
  margin: 30px auto 0;
}
@media screen and (max-width: 1279.98px) {
  .btnExhibit {
    font-size: 25px;
    width: 500px;
  }
}
@media screen and (max-width: 767.98px) {
  .btnExhibit {
    font-size: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 543.98px) {
  .btnExhibit {
    font-size: 18px;
    padding: 10px;
  }
}
.btnExhibit .visible_btn_text {
  color: #000;
}
.btnExhibit .hidden_btn_text {
  display: none;
}
.btnExhibit:hover .visible_btn_text {
  display: none;
  transition: 0.3s;
}
.btnExhibit:hover .hidden_btn_text {
  display: block;
  transition: 0.3s;
  color: #fff;
}

/* Mapbox container and markers */
.exh_btn_content h2 {
  font-family: RobotoMono-Light;
}
.exh_btn_content h3 {
  font-family: RobotoMono-Light;
  margin-bottom: 50px;
}
.exh_btn_content .map-container {
  height: 600px;
  margin: 50px 0;
}
.exh_btn_content .map-container .mapboxgl-popup-content {
  font-family: Roboto-Regular;
  padding: 20px;
  min-width: 300px;
}
@media screen and (max-width: 543.98px) {
  .exh_btn_content .map-container .mapboxgl-popup-content {
    min-width: 250px;
  }
}
.exh_btn_content .map-container .mapboxgl-popup-content .mapboxgl-popup-close-button {
  width: 30px;
  height: 30px;
  color: black;
  font-family: "dashicons";
  font-size: 50px;
  top: 10px;
  right: 10px;
}
.exh_btn_content .map-container .mapboxgl-popup-content h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: black;
}
.exh_btn_content .map-container .mapboxgl-popup-content ul {
  padding: 0;
  margin: 0;
}
.exh_btn_content .map-container .mapboxgl-popup-content ul li {
  list-style: none;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: black;
}
.exh_btn_content .map-container .mapboxgl-ctrl-logo {
  display: none;
}
.exh_btn_content .map-container .mapboxgl-ctrl-bottom-right {
  display: none;
}
.exh_btn_content .exh_map_result_content {
  padding: 0 50px;
}
@media screen and (max-width: 543.98px) {
  .exh_btn_content .exh_map_result_content {
    padding: 0 15px;
  }
}
.exh_btn_content .exh_map_result_content .exh_map_quest_result {
  display: inline-flex;
  margin-bottom: 30px;
}
.exh_btn_content .exh_map_result_content .exh_map_quest_result span {
  color: blue;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 30px;
  font-family: RobotoMono-Light;
}
.exh_btn_content .exh_map_result_content .exh_map_quest_result p {
  font-family: Roboto-Regular;
  font-size: 20px;
  margin: auto;
  height: 100%;
}

.visitCollection {
  text-align: center;
  margin-top: 150px;
}
.visitCollection button {
  width: max-content;
  padding: 10px 50px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  font-family: RobotoMono-Light;
  transition: 0.3s;
  border-radius: 50px;
  margin: 20px;
  position: relative;
  font-size: 35px;
  transition: 0.3s;
}
@media screen and (max-width: 991.98px) {
  .visitCollection button {
    font-size: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .visitCollection button {
    font-size: 25px;
  }
}
@media screen and (max-width: 543.98px) {
  .visitCollection button {
    font-size: 20px;
  }
}
.visitCollection button:before {
  content: "";
  background-image: url(/images/exhibition_assets/arrow_blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 100px;
  left: -90px;
  position: absolute;
  top: -90px;
  width: 100px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 543.98px) {
  .visitCollection button:before {
    top: -115px;
    width: auto;
    transform: unset;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-position: center;
  }
}
.visitCollection button:hover {
  background-color: white;
  color: blue;
  transition: 0.3s;
}

.marker {
  background-image: "circle";
  width: "50px";
  height: "50px";
  border-radius: "50%";
}

/*# sourceMappingURL=tronic.css.map */

/*# sourceMappingURL=tronic.css.map */
