@font-face {
    font-family: "RobotoMono-Light";
    src: url("/fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$breakpoints: (
    sm: (
        max-width: 543.98px,
        min-width: 544px
    ),
    adminbar: (
        max-width: 600.98px,
        min-width: 601px
    ),
    md: (
        max-width: 767.98px,
        min-width: 768px
    ),
    adminbar-lg: (
        max-width: 782.98px,
        min-width: 783px
    ),
    lg: (
        max-width: 991.98px,
        min-width: 992px
    ),
    tablet: (
        max-width: 1023.98px,
        min-width: 1024px
    ),
    xl: (
        max-width: 1279.98px,
        min-width: 1280px
    ),
    xxl: (
        max-width: 1599.98px,
        min-width: 1600px
    ),
    fullhd: (
        max-width: 1899.98px,
        min-width: 1900px
    )
);

@function breakpoint( $size, $option  ) {
    @return map-get( map-get( $breakpoints, $size ), $option );
}

html, body {
    background-color: #fff;
    color: #000;
}
* {
    color: #000;
}
/* Navbar */

.navExhib {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    &.navExh_yellow {
        .exh_navBar_container {
            background-color: yellow;

            .exh_line {
                background-color: black;

                @media screen and ( max-width: breakpoint( md, max-width ) ) {
                    display: none;                
                }
            }
        }

        .hamburger {
            background-color: #000;
        }
    }

    &.navExh_blue {
        .exh_navBar_container {
            background-color: blue;

            a {
                color: #fff;
            }

            .exh_line {
                background-color: #fff;

                @media screen and ( max-width: breakpoint( md, max-width ) ) {
                    display: none;                
                }
            }
        }

        .hamburger {
            background-color: #fff;
        }
    }

    .exh_navBar_container {
        margin-left: 15px;
        margin-right: 15px;
        margin: 30px 15px;

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            margin: 10px 15px;               
        }

        .nav_font {
            font-family: RobotoMono-Light;

            @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                display: block !important;
            }

        }

        .exh_line {
            width: 50px;
            height: 2px;
            opacity: 1;
            margin: auto 0;
        }
    }

    .header-burger {
        justify-self: end;
        cursor: pointer;
        padding-top: 7px;
        z-index: 0;
        position: absolute;
        right: 45px;

        .hamburger {
            width: 30px;
            height: 2px;
            opacity: 1;
            margin-bottom: 6px;
        }
    }

    .navbar-toggler {
        border: none;
        color: black;
        position: absolute;
        right: 20px;
        z-index: 1;

        @media screen and ( max-width: breakpoint( sm, max-width ) ) {
            right: 10px;
        }

        .btn-close {

            svg {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(106%) contrast(105%);
            }
        }

        .navbar-toggler-icon {
            background-image: none;
        }

        &:active {
            outline: none;
            box-shadow: none;
        }
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
        &:focus-visible {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    .exhibition_navbar {
        width: 100%;
    }
}

.exhibition_burger_container {
    background-color: #000;
    width: 100%;
    max-width: 730px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    align-items: normal;
    padding: 40px;
}

.exhibition_burger {
    position: absolute;
    right: 40px;
    top: 40px;

    .btn-close {
        color: #ffffff;
        float: right;
        background: url("/images/exhibition_assets/x-icon.svg");
        opacity: 1;

        
        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: right;
        }

        &:active, &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

.exhibition_navbar_inner {
    padding: 10px 20px;
    display: inline-flex;
    width: 100%;
    gap: 50px;

    @media screen and ( max-width: breakpoint( xl, max-width ) ) {
        gap: 15px;
    }
}

.exhibition_burger_inner {

    .navbar-nav {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        gap: 10px;
        height: 100vh;
    }

    .exh_space {
        margin-top: 20px;
    }

    a {
        font-size: 32px;
        font-family: RobotoMono-Light;

        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            font-size: 20px
        }
    
        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            font-size: 18px;
        }
    }

    p {
        font-size: 32px;
        color: #fff;
        font-family: RobotoMono-Light;
        margin: 0;

        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            font-size: 20px
        }
    
        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            font-size: 18px;
        }
    }
}

.exhibition_menu_link {
    text-decoration: none;
    font-size: 25px;

    @media screen and ( max-width: breakpoint( xl, max-width ) ) {
        font-size: 20px
    }

    @media screen and ( max-width: breakpoint( lg, max-width ) ) {
        font-size: 18px;
    }

    @media screen and ( max-width: breakpoint( md, max-width ) ) {
        font-size: 14px;
    }

    @media screen and ( max-width: breakpoint( sm, max-width ) ) {
       display: none;
    }

    &:hover {
        color: black;
    }
}
  /* Exhibition: Conflicts - i.e. blue */
  .badgeConflicts {
    width: 100%;
    background-color: white !important;
    border: 1px solid;
    border-color: blue !important;
    text-align: center;
    color: blue;
  }
  
  .conflicts h4 {
    font-family: Roboto-Regular;
  }
  

  .navExhibConflicts {
    margin-bottom: 5vh;
    background-color: blue;
    color: white;
  }
  

  /* Footer */
  .exh_img {
    width: auto;
    max-height: 50px;
    margin-right: 10px;
  }
  
  .exh_footer_links {
    margin-top: 20px;

        a {
        margin-right: 10px;
        text-decoration: none;
        font-size: 13px;
        }
    }
  
  .exh_footer_grid {
    display: inline-flex;
    font-size: 13px;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20px;

    @media screen and ( max-width: breakpoint( sm, max-width ) ) {
        display: block;
        text-align: center;
    }

    .footer_img {
        
        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            width: 55%;
            text-align: center;
        }

        @media screen and ( max-width: breakpoint( sm, max-width ) ) {
            width: 100%;
        }
    }

    .footer_partner_text {

        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            margin: auto 0;
            width: 75%;
        }

        @media screen and ( max-width: breakpoint( sm, max-width ) ) {
            width: 100%;
        }
   
    }
  }
  
  .exh_footer_grid p {
    margin: auto;
  }
  
  .exh_footer {
    height: 100%;
  } 
  
  /* exhibition objects page: card flip setup */

  .exh_container_border {
    border: 1px solid blue;
    border-bottom: 1px solid blue;
    border-top: none;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    padding-bottom: 100px;
    max-width: 1920px;
    margin: auto;
    position: relative;

    .exhibObject-grid {
      padding: 0 65px;

      @media screen and ( max-width: breakpoint( md, max-width ) ) {
        padding: 0 15px;
    }

      .exh_bullet_btn {
        width: max-content;
        padding: 10px 30px;
        background-color: blue;
        color: white;
        border: 1px solid blue;
        font-family: RobotoMono-Light;
        transition: 0.3s;
        border-radius: 50px;
        margin: 20px;
        min-width: 300px;
        position: relative;
        text-align: center;
        left: 20%;

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            left: 0;
            margin-left: 0;
            min-width: unset;
            width: 100%;
         }


            &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 20px solid blue;
                border-right: 12px solid transparent;
                border-top: 12px solid blue;
                border-bottom: 15px solid transparent;
                left: 40px;
                bottom: -17px;
            }
        
        &:hover {
           opacity: 0.7;
        }
    }
    
    .exhibObject {
        position: relative;
        cursor: pointer;
        margin-bottom: 100px;
        padding: 0;

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            width: 100% !important;
            height: auto !important;
            left: 0 !important;
        }

        &.exhibThird {
            margin-left: auto;
            margin-right: 0;
        }

            h3 {
                font-family: Roboto-Regular;
                font-size: 25px;
                text-transform: uppercase;
                line-height: 1;
                font-weight: normal;
                margin-bottom: 30px;
            }

            p {
                font-family: Roboto-Regular;
                font-size: 25px;
                line-height: 1.3em;
                margin-bottom: 100px;

                @media screen and ( max-width: breakpoint( md, max-width ) ) {
                    margin-bottom: 50px;
                    font-size: 18px;
                }
            }

            .back {
                border: 1px solid;
                padding: 20px;
                width: 100%;
                position: absolute;
                height: fit-content;
                z-index: 5;
                background-color: white;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                min-height: -webkit-fill-available;
                min-height: -moz-available;
            }

            &:hover {
                .back {
                    visibility: visible;
                    opacity: 1;
                    transition: 0.3s;
                }
            }

            .desc_bottom {
                text-align: right;

                
                @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                    text-align: left;
                }

            .arrow_detail {
                transform: rotate(-45deg);
                width: 50px;
                margin-right: 10px;
                margin-bottom: 120px;

                @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                   margin-left: 0;
                   margin-bottom: 0;
                }
            }

            .exh_see_more {
                background-color: blue;
                border: 1px solid blue;
                color: white;
                border: 1px solid;
                cursor: pointer;
                padding: 10px;
                border-radius: 25px;
                width: 200px;
                letter-spacing: 0.5px;
                font-family: RobotoMono-Light;
                font-size: 18px;
                bottom: 10px;
                right: 15px;
                transition: 0.3s; 
                
                @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                   width: 100%;
                 }

                &:active, &:focus {
                    outline: none;
                    box-shadow: none;
                }

                    &:hover {
                        background-color: white;
                        color: blue;
                        transition: 0.3s;
                    }
                }
            }  
        }
    }

    .conflicts {
        padding: 50px;

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            padding: 15px;
         }

        .exh_object_btm {
            margin-top: 100px;

            img {

                @media screen and ( max-width: breakpoint( md, max-width ) ) {
                    width: 100%;
                 }
            }
        }

       .exh_h5p_iframe {
            margin-top: 30px;
            text-align: center;

            iframe {
                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    width: -webkit-fill-available !important;
                    height: 1000px;
                 }

                 @media screen and ( max-width: breakpoint( lg, max-width ) ) {
                    height: 900px;
                 }

                 @media screen and ( max-width: breakpoint( md, max-width ) ) {
                 height: 800px;
                 }

                @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                  height: 700px;
                 }
            }
        }

        .sketchfab-embed-wrapper {
            text-align: center;

            iframe {
                max-width: 1090px;
                width: 100%;
                height: 800px;

                @media screen and ( max-width: breakpoint( md, max-width ) ) {
                    height: 600px;
                    }
   
                   @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                     height: 500px;
                    }
            }
        }

        .exh_bullet_btn {
            width: max-content;
            padding: 10px 30px;
            background-color: blue;
            color: white;
            border: 1px solid blue;
            font-family: RobotoMono-Light;
            transition: 0.3s;
            border-radius: 50px;
            margin: 20px;
            position: relative;


            @media screen and ( max-width: breakpoint( sm, max-width ) ) {
                margin: 20px 0;
                font-size: 13px;
            }

                &:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 20px solid blue;
                    border-right: 12px solid transparent;
                    border-top: 12px solid blue;
                    border-bottom: 15px solid transparent;
                    left: 40px;
                    bottom: -17px;
                }
            
            &:hover {
               opacity: 0.7;
            }
        }
    }
}
  
  /* Content */

  .exh_container_inner {

    &.exh_rm_nav {
        margin-top: -75px;
    }

    .exh_submit_button {
        margin-top: 50px;
        text-align: center;

        .exh_arrow_container {
            width: 40%;
            
        }
    }

    .exh_blue_arrow {
        width: auto;
        height: auto;
        transform: rotate(-45deg);
        max-width: 50px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .exh_submit_btn {
        font-family: RobotoMono-Light;
        color: #fff;
        background-color: blue;
        margin: 0;
        padding: 10px 0;
        font-size: 2.3rem;
        width: 60%;
        border: 1px solid;
        border-color: blue !important;
        text-align: center;
        border-radius: 50px;

        
        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            width: 100% !important;
        }

        h1 {
            margin: 0;

            @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                font-size: 20px
            }
        }
    }
  }

  .exh_map_container {

    .exh_map_btn {
        color: blue;
        font-family: RobotoMono-Light;
        padding: 10px 20px;
        background-color: white;
        border: 1px solid blue;
        margin: 20px 0;
        border-radius: 50px;
        font-size: 25px;
        width: 100%;
        transition: 0.3s;

        @media screen and ( max-width: breakpoint( lg, max-width ) ) {
            font-size: 18px;
            margin: 10px 0 0;
        }

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            font-size: 16px;
        }

        &:hover {
            opacity: 0.4;
        }

        &.active {
            color: #fff;
            background-color: blue;
            transition: 0.3s;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }
  }

  .exh_main_content {
    max-width: 1920px;
    margin: 150px auto;
    padding: 0 15px;
    color: #000 !Important;

    @media screen and ( max-width: breakpoint( md, max-width ) ) {
        margin: 110px auto;
    }

    .conflictsAnswers {
        margin-top: 100px;
        padding: 0 30px;
        
        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            margin-top: 50px;
        }

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
           padding: 0 15px;
        }

        h1 {
            font-family: RobotoMono-Light;
            font-size: 2.3rem;
            margin-bottom: 50px;

            @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                font-size: 20px
            }
        }
  
        h2 {
            font-family: RobotoMono-Light;
            font-size: 2.3rem;

            @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                font-size: 20px
            }
        }

        .exh_submit_button {
            margin-top: 50px;
            text-align: center;

            .exh_arrow_container {
                width: 40%;
            }
        }

        .exh_submit_btn {
            font-family: RobotoMono-Light;
            color: #fff;
            background-color: blue;
            margin: 0;
            padding: 10px 0;
            font-size: 2.3rem;
            width: 60%;
            border: 1px solid;
            border-color: blue !important;
            text-align: center;
            border-radius: 50px;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                outline: none;
                box-shadow: none;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            h1 {
                margin: 0;
            }
        }

        .form-check {
            max-width: 60%;

            @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                max-width: 100%;
            }

            label {
                position: relative;
            }

         input[type="radio"] {
                display: none;
            }
            
          label::before {
                content: "";
                display: inline-block;
                background-image: url(/images/exhibition_assets/exh_box_black.svg);
                background-size: contain;
                width: 70px;
                height: 70px;
                position: absolute;
                left: -70px;
                top: 0;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    left: -50px;
                }
            }
       
            input[type="radio"]:checked + label::after {
                content: "";
                display: inline-block;
                background-image: url(/images/exhibition_assets/exh_box_blue.svg);
                background-size: contain;
                width: 70px;
                height: 70px;
                position: absolute;
                left: -70px;
                top: 0;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    left: -50px;
                }
            }

            label {
                border: 1px solid;
                padding: 15px;
                margin: 0 0 40px;
                font-size: 1.2rem;
            }

            &:nth-child(1) {
                margin-left: 10%;
                
                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    margin-left: 0;
                }
            }

            &:nth-child(2) {
                margin-left: 20%;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    margin-left: 0;
                }
            }

            &:nth-child(3) {
                margin-left: 30%;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    margin-left: 0;
                }
            }

            &:nth-child(4) {
                margin-left: 20%;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    margin-left: 0;
                }
            }

            &:nth-child(5) {
                margin-left: 10%;

                @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                    margin-left: 0;
                }
            }
        }

        .exh_blue_arrow {
            width: auto;
            height: auto;
            transform: rotate(-45deg);
            max-width: 50px;
            margin-right: 10px;
            margin-bottom: 15px;
        }
    }
  }

  .badgeConflicts {

    h1 {
        font-family: RobotoMono-Light;
        color: blue;
        margin: 0;
        padding: 15px 0;
        font-size: 2.3rem;
        
        @media screen and ( max-width: breakpoint( xl, max-width ) ) {
            font-size: 20px
        }
    
    }

    &.badgeConflictInner {
        margin: 50px 50px 0;
        width: -webkit-fill-available;

        @media screen and ( max-width: breakpoint( md, max-width ) ) {
           margin: 50px 0 0;
         }


         h1 {

            @media screen and ( max-width: breakpoint( md, max-width ) ) {
                font-size: 18px;
              }
         }

    }
}
  .exh_question_intro_text {
    padding: 3rem 0;
    text-align: center;

    .exh_country_selection {

        padding: 3rem 0;

        select {
            padding: 10px;
            border: 1px solid;
        }
       
        h3 {
            font-family: Roboto-Regular;

            @media screen and ( max-width: breakpoint( xl, max-width ) ) {
                font-size: 18px;
            }
        }
    }

    h4  {
        font-family: Roboto-Regular;
        
        @media screen and ( max-width: breakpoint( md, max-width ) ) {
            font-size: 18px;
         }
    }

    p {
        font-size: 14px;
    }
  }

  .exhibition_intro {
    min-height: calc(100vh - (2 * 6rem));
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-top: 64px;

    a {

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
  }
  
  .btnExhibit{
    &:hover {
        background-color: blue !important;
    } 

    &:focus {
       color: #fff;
    } 

    &.btnExhibitDisabled {
        &:hover {
            opacity: 0.6;
            cursor: not-allowed;
        } 
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
  }
  
  .btnExhibit {
    background-color: white;
    color: black;
    border-color: black;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 600px;
    padding: 20px;
    font-family: RobotoMono-Light;
    font-size: 30px;
    margin: 30px auto 0;

    @media screen and ( max-width: breakpoint( xl, max-width ) ) {
        font-size: 25px;
        width: 500px;
    }

    @media screen and ( max-width: breakpoint( md, max-width ) ) {
        font-size: 20px;
        width: 100%;
    }

    @media screen and ( max-width: breakpoint( sm, max-width ) ) {
        font-size: 18px;
        padding: 10px;
    }

    .visible_btn_text {
        color: #000;
    }
    
    .hidden_btn_text {
        display: none;
    }

    &:hover {
        .visible_btn_text {
            display: none;
            transition: 0.3s;
        }

        .hidden_btn_text {
            display: block;
            transition: 0.3s;
            color: #fff;
        }
    }
}
 
 /* Mapbox container and markers */

 .exh_btn_content {

    h2 {
        font-family: RobotoMono-Light;
    }

    h3 {
        font-family: RobotoMono-Light;
        margin-bottom: 50px;
    }

 .map-container {
    height: 600px;
    margin: 50px 0;

    .mapboxgl-popup-content {
        font-family: Roboto-Regular;
        padding: 20px;
        min-width: 300px;

        @media screen and ( max-width: breakpoint( sm, max-width ) ) {
           min-width: 250px;
        }

        .mapboxgl-popup-close-button {
            width: 30px;
            height: 30px;
            color: black;
            font-family: "dashicons";
            font-size: 50px;
            top: 10px;
            right: 10px;
        }

        h4 {
            text-transform: uppercase;
            margin-bottom: 10px;
            color: black;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 10px;
                color: black;
            }
        }
    }

    .mapboxgl-ctrl-logo {
        display: none;
      }
      .mapboxgl-ctrl-bottom-right {
        display: none;
      }
  }

  .exh_map_result_content {
    padding: 0 50px;

    @media screen and ( max-width: breakpoint( sm, max-width ) ) {
        padding: 0 15px;    
    }

    .exh_map_quest_result {
        display: inline-flex;
        margin-bottom: 30px;

        span {
            color: blue;
            text-transform: uppercase;
            margin-right: 20px;
            font-size: 30px;
            font-family: RobotoMono-Light
        }

        p {
            font-family: Roboto-Regular;
            font-size: 20px;
            margin: auto;
            height: 100%;
        }
    }
  }
}
  .marker {
    background-image: "circle";
    width: "50px";
    height: "50px";
    border-radius: "50%";
  }

  /*# sourceMappingURL=tronic.css.map */
  